<!-- data.dialogConfig.actionText = Display string on what is happening -->
<!-- data.dialogConfig.checkText  = What is rolled                -->
<!--                   Survival + Intuition (3)      -->
<!--                   Sorcery/Spellcasting + Magic  -->
<!-- data.dialogConfig.isOpposed  = Test is made against a defense rating -->
<!-- data.dialogConfig.useThreshold = Entering a threshold is required  -->
<form>
    <h3>{{data.actionText}}</h3>
    <h2 class="highlight" id="rolldia-checkText">{{data.checkText}}</h2>
    {{#if data.isOpposed}}
    <h4 class="highlight" style="margin:0px">{{localize "shadowrun6.roll.edge.getting"}}</h4>
    <table style="background-color: transparent; border: 0px">
    	<tr>
    	  <td>{{localize "shadowrun6.roll.attackRating"}}</td>
    	  <td>
    	  {{#if (eq data.rollType "weapon")}}
        <select name="attackRating" class="calc-edge-edit ar-value" id="ar">
            {{#select attackRating}}
            {{#each data.item.data.data.attackRating as |rating id|}}
            <option value="{{data.attackRating}}" data-item-ar="{{rating}}">{{localize (concat "shadowrun6.roll.ar_"
                id)}} - ({{rating}})</option>
            {{/each}}
            {{/select}}
        </select> + 
        {{else}}
        <span>{{data.attackRating}} +</span>
        {{/if}}
    	  </td>
    	  <td><input id="arMod" type="number" name="attackRatingMod" value="{{data.attackRatingMod}}" class="calc-edge-edit armod-value" style="width: 2em"/></td>
    	  <td>vs</td>
    	  <td>{{localize "shadowrun6.roll.defRating"}}</td>
    	  <td><input id="dr" type="number" name="defRating" value="{{data.defRating}}" class="calc-edge-edit dr-value" style="width: 2em"/></td>
    	</tr>
    	<tr>
    	  <td colspan="2">{{localize "shadowrun6.roll.edge.situational"}}<input type="checkbox" class="calc-edge-edit" name="situationalEdgeA" value="{{data.situationalEdgeA}}" id="situationalEdgeA" /></td>
    	  <td colspan="2"></td>
    	  <td colspan="2">{{localize "shadowrun6.roll.edge.situational"}}<input type="checkbox" class="calc-edge-edit" name="situationalEdgeD" value="{{data.situationalEdgeD}}" id="situationalEdgeD" /></td>
    	</tr>
    	<tr>
    	  <td colspan="6" >
    	    <label id="edgeLabel" style="font-style:italic"></label><br />
          <label id="noTargetLabel"></label>
    	  </td>
    	</tr>
    </table>
    <hr/>
    {{/if}}

	<!-- Edge Boosts and Actions -->
    <h4 class="highlight" style="margin:0px">{{localize "shadowrun6.roll.edge.spending"}}</h4>
    <table style="background-color: transparent; border: 0px">
    	<tr>
    	  <td rowspan="2">
    	    <div class="edge-roll" style="flex: 0.48; margin-right: 10px">
	         <img src="systems/shadowrun6-eden/images/EdgeToken.png" style="border: 0px; height: auto; width: 48px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
		      <label class="edge-value" >{{data.edge}}</label>
	       </div>
	     </td>
	     <td>Boost</td>
	     <td><select name="edgeBoost" class="edgeBoosts">
            <option value="none" data-item-boostid="none"> - </option>
            {{#select edgeBoost}}
            {{#each data.edgeBoosts as |boost id|}}
            <option value="{{boost.id}}" data-item-boostid="{{boost.id}}">{{localize (concat "shadowrun6.edge_boost."
                boost.id)}} - ({{boost.cost}})</option>
            {{/each}}
            <option value="edge_action" data-item-boostid="edge_action">{{localize "shadowrun6.edge_boost.edge_action"}}</option>
            {{/select}}
        </select></td>
    	</tr>
    	<tr>
    		<td>Action</td>
    		<td><select name="edgeAction" class="edgeActions">
             <option value="none" data-item-actionid="none"> - </option>
        </select></td>
    	</tr>
    </table>
	<hr/>

   <!-- Spell modification -->
   {{log this}}
   {{#if data.canModifySpell}}
    <h4 class="highlight" style="margin:0px">{{localize "shadowrun6.roll.spell.title"}}</h4>
    <table style="background-color: transparent; border: 0px">
    	<tr>
    	  <td rowspan="2">
    	  	 <div class="edge-roll" >
    	      <img src="systems/shadowrun6-eden/images/magic-swirl.svg" style="border: 0px; height: auto; width: 48px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
    	    </div>
	     </td>
	     {{#if data.canAmpUpSpell}}
	     <td>{{localize "shadowrun6.roll.spell.ampUp.title"}}</td>
	     <td><select name="ampUp" class="ampUp">
            <option value="0" data-item-ampid="amp0"> - </option>
            <option value="1" data-item-ampid="amp1">{{localize "shadowrun6.roll.spell.ampUp.1"}}</option>
            <option value="2" data-item-ampid="amp2">{{localize "shadowrun6.roll.spell.ampUp.2"}}</option>
        </select></td>
        {{/if}}
    	</tr>
    	<tr>
	     {{#if data.canIncreaseArea}}
	     <td>{{localize "shadowrun6.roll.spell.incArea.title"}}</td>
	     <td><select name="incArea" class="incArea">
            <option value="0" data-item-incid="inc0"> - </option>
            <option value="1" data-item-incid="inc1">{{localize "shadowrun6.roll.spell.incArea.1"}}</option>
            <option value="2" data-item-incid="inc2">{{localize "shadowrun6.roll.spell.incArea.2"}}</option>
        </select></td>
        {{/if}}
    	</tr>
    </table>
	<hr/>
   {{/if}}

	<!-- Final calculations -->
    <h4 class="highlight" style="margin:0px">{{localize "shadowrun6.roll.configure"}}</h4>
    <table style="background-color: transparent; border: 0px">
    	<tr>
    	  <td rowspan="3">
    	    <div class="edge-roll" style="flex: 0.48; margin-right: 10px">
	         <img src="systems/shadowrun6-eden/images/BlankDice.png" style="border: 0px; height: auto; width: 48px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
		      <label class="edge-value" name="dicePool">{{data.pool}}</label>
	       </div>
	     </td>
	     <td colspan="2">{{localize "shadowrun6.roll.modifier"}}</td>
	     <td><input type="text" name="modifier" value="{{data.modifier}}" style="width: 3em"/></td>
    		<td colspan="2" style="text-align:right">{{localize "shadowrun6.roll.wilddie"}}</td>
    		<td><input type="checkbox" name="useWildDie" {{checked data.useWildDie}} /></td>
    	</tr>
    	<tr>
     		<td>{{localize "shadowrun6.roll.mode"}}</td>
     		<td colspan="3"><select name="rollMode">
        {{#select rollMode}}
        {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select></td>     		
    		<td style="text-align:right">{{localize "shadowrun6.roll.explode"}}</td>
    		<td><input type="checkbox" name="explode" value="{{data.explode}}" /></td>
    	</tr>
    	<tr>
        {{#if data.useThreshold}}
    		<td>{{localize "shadowrun6.roll.threshold"}}</td>
    		<td colspan="2"><input type="text" name="threshold" value="{{data.threshold}}" style="width: 3em"/></td>
    {{/if}}
    	</tr>
    </table>

</form>