<form class="{{cssClass}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<div>
		  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120" /><br/><br/>
		</div>
		<div class="header-fields">
			<h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'shadowrun6.name' }}" /></h1>
			<div style="display:flex; flex-direction:row; align-items:center;">
			{{> "systems/shadowrun6-eden/templates/parts/monitors.html" attributes=data.data.attributes}}
			{{> "systems/shadowrun6-eden/templates/parts/edge-token.html"}}
			</div>
		</div>
	</header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="overview">{{ localize 'shadowrun6.actor.nav.overview' }}</a>
        <a class="item" data-tab="edit">{{ localize 'shadowrun6.actor.nav.input' }}</a>
        <a class="item" data-tab="magic">{{ localize 'shadowrun6.actor.nav.magic' }}</a>
        <a class="item" data-tab="description">{{ localize 'shadowrun6.actor.nav.description' }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Basics Tab --}}
        <div class="tab overview" data-group="primary" data-tab="overview">
                <div class="section" style="width: 68%; margin: 5px">
                    {{> "systems/shadowrun6-eden/templates/parts/npc-attributes.html" attributes=data.data.attributes}}
                    <dl>                    
                        <dt>{{ localize 'shadowrun6.actor.initiative' }}</dt>
                        <dd>{{data.data.initiative.physical.base}} + {{data.data.initiative.physical.dicePool}}d6</dd>
                        <dt>{{ localize 'shadowrun6.actor.initiative_astral' }}</dt>
                        <dd>{{data.data.initiative.astral.base}} + {{data.data.initiative.astral.dicePool}}d6</dd>
                        <dt>{{ localize 'shadowrun6.actor.actions' }}</dt>
                        <dd>1 {{ localize 'shadowrun6.actor.actions_major' }}, {{data.data.initiative.actions}} {{localize 'shadowrun6.actor.actions_minor'}}</dd>
                        {{> "systems/shadowrun6-eden/templates/parts/npc-skills.html" skills=data.data.skills}}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-spells.html" }}
                    </dl>
                </div>
			{{> "systems/shadowrun6-eden/templates/parts/section-qualities.html"}}
         </div>

		{{!-- Input Tab --}}
		<div class="tab edit" data-group="primary" data-tab="edit">
			{{> "systems/shadowrun6-eden/templates/parts/pc-skillvalues.html" skills=data.data.skills}}
		</div>

		{{!-- Magic Tab --}}
		<div class="tab magic" data-group="primary" data-tab="magic">
  <section>
	  <div style="column-count: 2; margin-right: 5px;">
			{{> "systems/shadowrun6-eden/templates/parts/section-magicbase.html" showMagic=false}}
			{{> "systems/shadowrun6-eden/templates/parts/section-spells.html"}}
			{{> "systems/shadowrun6-eden/templates/parts/section-rituals.html"}}
			{{> "systems/shadowrun6-eden/templates/parts/section-adeptpowers.html"}}
			{{> "systems/shadowrun6-eden/templates/parts/section-metamagics.html"}}
		</div>
  </section>		</div>
    </section>
</form>