<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input type="text" value="{{item.name}}" name="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="92" width="92" style="background-color: var(--highlight-color)"/>
        <div class="section">
            <table>
                <tr>
                    <th colspan="1">{{localize 'shadowrun6.label.level'}}</th>
                    <th colspan="2">{{localize 'shadowrun6.label.adepts'}}</th>
                    <th colspan="2">{{localize 'shadowrun6.label.mages'}}</th>
                </tr>
                <tr style="text-align:center">
                    <td><input style="vertical-align: middle;" type="checkbox" {{checked item.data.data.level}}
                        name="data.level" /></td>
                    <td><input style="vertical-align: middle;" type="checkbox" {{checked item.data.data.adepts}}
                            name="data.adepts" /></td>
                    <td colspan="2"><input style="vertical-align: middle;" type="checkbox" {{checked item.data.data.mages}}
                            name="data.mages" /></td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            <textarea class="box" type="text" name="data.description" cols="20"
                rows="8">{{item.data.data.description}}</textarea>
        </div>
    </section>
</form>