<div class="section" style="display: inline-block; width:100%">
	<div class="section-head">
		<h2 class="section-title">{{ localize 'shadowrun6.section.focus.title' }}</h2>
		<a class="item-control focus-create" title="{{localize 'shadowrun6.section.focus.add' }}">
			<h2 class="fas fa-plus"></h2>
		</a>
	</div>
	<table>
		<thead>
			<tr>
				<th style="text-align:left">{{ localize 'shadowrun6.label.column.name' }}</th>
				<th>{{ localize 'shadowrun6.section.focus.column.rating' }}</th>
				<th>{{ localize 'shadowrun6.label.column.action' }}</th>
			</tr>
		</thead>
		{{#each actor.items as |item id|}}
		{{#iff item.type '==' 'focus'}}
		<tr class="item list-item" data-item-id="{{item.id}}">
			<td><input type="text" value="{{item.name}}" data-field="name" title="{{item.data.data.description}}" /></td>
			<td class="centered" style="width: 2em"> <input class="centered" type="text"
					value="{{item.data.data.rating}}" data-field="data.rating" data-type="Number" /></td>
			<td class="centered"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
						class="fas fa-edit"></i></a> <a class="item-control item-delete" title='{{localize '
					shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
		</tr>
		{{/iff}}
		{{/each}}
	</table>
</div>