<div class="section" style="display: inline-block; width:100%; column-span:1;">
	<table>
		<tbody>
			<tr>
				<td>Control Rig</td>
				<td>
					<select name="data.data.controlRig" data-field="data.controlRig">
                     {{selectOptions config.CONTROL_RIG_RATING selected=data.data.controlRig localize=true}}           			
         		</select>
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th style="padding: 0 5px 0 5px;">{{ localize 'shadowrun6.label.name' }}</th>
				<th style="padding: 0 0px 0 5px; width: 1em">{{ localize 'shadowrun6.label.devicerating.short' }}</th>
				<th style="padding: 0 0px 0 0px; width: 1em">{{ localize 'shadowrun6.label.dataproc.short' }}</th>
				<th style="padding: 0 5px 0 0px; width: 1em">{{ localize 'shadowrun6.label.firewall.short' }}</th>
				<th style="padding: 0 5px 0 5px; width: 3rem"> </th>
			</tr>
		</thead>
		<tbody>
 		{{#each actor.items as |item id|}} 
		{{#if (eq item.type 'gear')}}
		{{#if (eq item.data.data.type "ELECTRONICS") }}
		{{#if (eq item.data.data.subtype "RIGGER_CONSOLE") }}
      <tr class="draggable item" data-item-id="{{this.id}}"  title="{{item.data.data.description}}">
       	<td style="margin-right: 1rem"><button type="button" class="collapsible {{item.data.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}"></button><label class="item-name" data-skill="{{id}}">{{item.name}}</label></td>
         <td><label class="middle-column" >{{item.data.data.devRating}}</label></td>
         <td class="centered">{{item.data.data.d}}</td>
         <td class="centered">{{item.data.data.f}}</td>
			<td class="centered">
				<a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a>
         </td>
       </tr>
       {{/if}}
       {{/if}}
       {{/if}}
       {{/each}}
		</tbody>
	</table>
</div>