<div class="section" style="display: inline-block; width:100%">
 <div class="section-head">
	<h2 class="section-title">{{ localize 'shadowrun6.section.rituals.title' }}</h2>
	<a class="item-control ritual-create" title="{{localize 'shadowrun6.section.rituals.add' }}">
		<h2 class="fas fa-plus"></h2>
	</a>
</div>
<table>
	    <thead>
	      <tr>
	        <th></th>
	        <th style="text-align:left">{{ localize 'shadowrun6.label.column.name' }}</th>
	        <th>{{ localize 'shadowrun6.section.rituals.column.threshold' }}</th>
	        <th>{{ localize 'shadowrun6.label.column.action' }}</th>
	      </tr>
	    </thead>
		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'ritual'}}
		<tr class="item list-item" data-item-id="{{item.id}}">
       	<td style="width:1rem"><button type="button" class="collapsible {{item.data.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button></td>
       	<td><input type="text" value="{{item.name}}" data-field="name" title="{{item.data.data.description}}"/></td>
			<td class="centered" style="width: 2em"> <input class="centered" type="text" value="{{item.data.data.threshold}}" data-field="data.threshold" data-type="Number"/></td>
			<td class="centered">
				<a class="item-control ritual-roll" title="Roll"   data-item-id="{{item.id}}" ><i class="fas fa-dice-six"></i></a>
				<a class="item-control item-edit"   title='{{localize 'shadowrun6.label.edit' }}'><i class="fas fa-edit"></i></a> 
				<a class="item-control item-delete" title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
	   </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content {{item.data.flags.shadowrun6-eden.collapse-state}}">
        	   {{ localize 'shadowrun6.label.features' }}: <b>{{ritualFeat item.data.data}}</b> 
         	</div>
         </td>
       </tr>
		{{/iff}} 
		{{/each}}
</table>
</div>