<div class="section" style="display: inline-block; width:100%">
 <div class="section-head">
	<h2 class="section-title">{{ localize 'shadowrun6.section.sins.title' }}</h2>
	<a class="item-control sin-create" title="{{localize 'shadowrun6.section.sins.add' }}">
		<h2 class="fas fa-plus"></h2>
	</a>
</div>
<table>
	<thead>
		<tr>
		  <th style="text-align:left">{{ localize 'shadowrun6.label.column.name' }}</th>
		  <th>{{ localize 'shadowrun6.sin.quality' }}</th>
		  <th colspan="2">{{ localize 'shadowrun6.label.column.action' }}</th>
		</tr>
	  </thead>
		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'sin'}}
		<tr class="item list-item" data-item-id="{{item.id}}">
			<td style="width: 10em"> <input type="text" value="{{item.name}}" data-field="name" title="{{item.data.data.description}}"/></td>
			<td style="width: 4em">
				<select name="item.quality" disabled>
				{{selectOptions ../config.SIN_QUALITY selected=item.data.data.quality localize=true}}
			</select>
			<td style="width:2em"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
	   </tr>
		{{/iff}} 
		{{/each}}
</table>
</div>